body{
    background-color: #000;
    color: white;
}


.cursor {
    display: inline-block;
    width: 8px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-color: white; /* Cursor color */
    animation: blink 0.8s infinite; /* Blink animation */
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


.inputLine

{
   
    display: flex;
      
}

#oldData
{
    margin-bottom: -20px;
    
}

#inputArrow
{
    margin-right: 1px;
}

#arrow
{
    color: green;
}